main{
    margin-top: 7.6rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
    margin-bottom: 20rem;
}
.wrapper{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
@media only screen and (min-width:1000px){
   main{
    flex-direction: row;
    justify-content: center;
   }
  }